<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Login - Agenda</title>
  </head>
  <body>
    <div align="center">
      <h2>login</h2>
      <form action="submit" method="POST">
        {% csrf_token %}
        <label>username:</label><br />
        <input type="text" name="username" />
        <br />
        <label>password:</label><br />
        <input type="password" name="password" />
        <br />
        <br />
        <button type="submit">login</button>
      </form>
      <br />
      {% for message in messages %}
      <strong>erro: </strong> {{message}} {% endfor %}
    </div>
  </body>
</html>
